@page "{id}"
@using SuperHeroes.WebSite.Services
@inject JsonFileProductService ProductService
@model SuperHeroes.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read page";
}

<!-- Referencing styles in site.css -->
<head>
    <link rel="stylesheet" type="text/css" href="site.css">
</head>

<!-- Added whitebox on the background to make text visible -->
<div class="Read-box">

    <!-- Added Spacing -->
    &nbsp;
    
    <!-- Heading -->
    <h1>Read</h1>

    <div class="content">

        <!-- Displaying the Product Title -->
        <h5 class="title" id="productTitle">@Model.Product.Title</h5>
        <!-- Displaying the Product Image -->
        <img src='@Model.Product.Image' width="388" height="400" alt='Image for @Model.Product.Title'>
        <!-- Displaying the Product Description -->
        <p class="card-text">@Model.Product.Description</p>
        <!-- Displaying the Product Price -->
        <p class="card-text">Price: $@Model.Product.Price</p>

        <p class="card-text">

            @if (@Model.Product.Stock <= 10)
            {
                <span>Items lefts: @Model.Product.Stock</span>

                <!-- Line Break -->
                <br>

                <!-- Displaying the Stock left and a warning if the stock is low -->
                <span>Hurry Up! Limited Stock</span>
            }

            else
            {
                <!-- Displaying the Stock left -->
                <span>Items lefts: @Model.Product.Stock</span>
            }

        </p>

        <!-- Created update button -->
        <form method="post">
            <a class="link-button" asp-page="Update" asp-route-id="@Model.Product.Id">Update</a>
        </form>

        <!-- Back to Product List button -->
        <div>
            <a asp-page="Index" class="link-button2">Cancel</a>
        </div>

        <!-- Added Spacing in between -->
        &nbsp;

    </div>
</div>