@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read page";
}
<!--Referencing styles in site.css-->
<head>
    <link rel="stylesheet" type="text/css" href="site.css">
</head>

<!--Added whitebox on the background to make text visible-->
<div class="whitebox">
    &nbsp; 
    
    <!--Added Spacing-->

    <h1>Read</h1>
        <div class="content">
            <h5 class="title" id="productTitle">@Model.Product.Title</h5>
            
            <!--class="card-img" -->
            
            <img src='@Model.Product.Image' width="388" height="400" alt='Image for @Model.Product.Title'>
            <p class="card-text">@Model.Product.Description</p>
            <p class="card-text">Price: $@Model.Product.Price</p> <!--Implemented Price-->
                <p class="card-text">
                    @if (@Model.Product.Stock <= 10) 
                    {
                        <span>Items lefts: @Model.Product.Stock</span><br>
                        <span>Hurry Up! Limited Stock</span>
                    }
                    else{
                <span>Items lefts: @Model.Product.Stock</span> <!--Implemented Items Left in Stock-->
                    }
                </p> 

            <!--Created update button -->
            <form method="post">
            <button class="btn btn-light btn-customised box-shadow"><a asp-page="Update" asp-route-id="@Model.Product.Id">Update</a></button>
            </form>
            &nbsp;
            <!--Added Spacing inbetween-->

        </div>
</div>

